a.exec {
  font-size: 1em;
  color: #1b1b1b; }

iframe.live-docs {
  border: none;
  margin-top: 5px; }

.tooltip {
  font-size: 10px !important; }

.navbar input.search {
  width: 130px; }

.homepage .content {
  max-width: 100%;
  padding-top: 30px;
  padding-left: 0;
  padding-right: 0; }
  .homepage .content .fat-header {
    background: url("/img/geometric.png") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 404px; }
    .homepage .content .fat-header h1.hello-dolly {
      color: white;
      font-size: 8em;
      padding-top: 140px; }
  .homepage .content .build-something {
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    padding-top: 1.5em;
    padding-bottom: 2em px; }
    .homepage .content .build-something .tryit-link {
      font-size: 1.2em; }
    .homepage .content .build-something .trailhead {
      padding-top: 1em; }
  .homepage .content footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 1050px; }
.homepage .publishers {
  border-top: 1px solid #eeeeee;
  font-size: 1.2em;
  padding-right: 2em;
  padding-left: 2em;
  margin-top: 0.5em; }

.url {
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
  padding: 0.25em;
  margin-bottom: 0.5em; }
  .url .transport {
    color: #12daeb; }
  .url .domain {
    color: #f513aa; }
  .url .path {
    color: #ffca14; }
  .url .identifier {
    color: #ff9c4e; }
  .url .extension {
    color: #ffca14; }

.results {
  position: relative;
  background: whitesmoke;
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border: 1px solid #cecece; }
  .results .request, .results .response {
    border: none; }
  .results .request {
    padding-top: 3px;
    padding-left: 3px; }
    .results .request .verb {
      font-weight: bold;
      color: teal; }
  .results .remove {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: black;
    font-size: 0.9em; }

.repositories {
  padding-top: 10px; }
  .repositories li {
    list-style: none; }
  .repositories .repo {
    position: relative;
    min-height: 66px;
    padding-left: 35px;
    padding-bottom: 20px;
    margin: 0 0 20px;
    overflow: hidden;
    font-size: 1.2em;
    line-height: 1.6em;
    border-bottom: 1px solid #eeeeee; }
    .repositories .repo .meta {
      font-size: 0.8em;
      padding-bottom: 1em; }
    .repositories .repo .body .updated-at {
      margin: 0;
      font-size: 0.9em;
      color: #999999; }
    .repositories .repo ul.contributors {
      list-style: none; }
      .repositories .repo ul.contributors li {
        display: inline-block;
        padding-right: 5px;
        float: right; }

.homepage .tagline {
  font-size: 45px; }
.homepage .jumbotron {
  padding-bottom: 0px; }

ul.pages {
  list-style: none; }
  ul.pages .page h3 {
    font-size: 1em; }
    ul.pages .page h3.placeholder a {
      color: #8a8a8a; }
    ul.pages .page h3.draft a {
      color: #ff4756; }
    ul.pages .page h3.alpha a {
      color: #ff7e47; }
    ul.pages .page h3.beta a {
      color: #ff7e47; }
    ul.pages .page h3.final a {
      color: #3ec821; }
  ul.pages .page ul.meta {
    list-style: none;
    font-size: 0.8em; }
