a.exec {
  font-size: 1em;
  color: #1b1b1b;
  padding: 0.2em; }

iframe.live-docs {
  border: none;
  margin-top: 5px; }

.tryit-results {
  position: relative; }
  .tryit-results .remove {
    position: absolute;
    top: 5px;
    right: 10px;
    text-decoration: none;
    color: black;
    font-size: 0.9em; }

.homepage .tagline {
  font-size: 45px; }
.homepage .hero-unit {
  padding-bottom: 0px; }
.homepage .trailhead {
  position: relative;
  height: 190px; }
  .homepage .trailhead .btn {
    position: absolute;
    top: 150px; }

.content #tryit-visor {
  display: none;
  height: 400px;
  overflow-y: scroll;
  position: fixed;
  top: 41px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 640px;
  z-index: 99999;
  background: whitesmoke;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5); }
.content .tryit-results .request, .content .tryit-results .response {
  border: none; }
.content .tryit-results .request {
  padding-top: 3px;
  padding-left: 3px; }
  .content .tryit-results .request .verb {
    font-weight: bold;
    color: teal; }
