---
layout: default
title: API Changelog
redirect_from:
- /changelog.html
---

<h1>API Changelog</h1>

<p>Every API must change from time to time. While we strive to keep breaking changes to a minimum, some changes in behavior may affect your application. Many changes also bring new or enhanced functionality to the API.</p>

{% include newsletter.html %}
<table>
  <thead>
    <th>Date</th>
    <th>Change</th>
  </thead>
  <tbody>
    {% for change in site.categories.changelog %}
      <tr>
        <td>{{ change.date | date: "%Y-%m-%d" }}</td>
        <td><a href="{{change.url}}">{{ change.title }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
