a.exec
  font-size: 1.0em
  color: #1b1b1b
  padding: 0.2em

iframe.live-docs
  border: none
  margin-top: 5px

.homepage
  .content
    max-width: 100%
    padding:
      top: 30px
      left: 0
      right: 0

    .fat-header
      background-size: 100%
      background: url("/img/geometric.png") repeat-x
      width: 100%
      height: 404px

      h1.hello-dolly
        color: white
        font-size: 10em
        padding-top: 180px

    .build-something
      margin:
        left: auto
        right: auto
      max-width: 1050px
      padding:
        top: 1.5em
        bottom: 2em px

      .tryit-link
        font-size: 1.5em

      .trailhead
        padding-top: 1em

    footer
      margin:
        left: auto
        right: auto
      max-width: 1050px

.url
  font-size: 1.5em
  font-weight: bold
  display: inline-block
  padding: 0.25em
  margin-bottom: 0.5em

  .transport
    color: #12daeb

  .domain
    color: #f513aa

  .path
    color: #ffca14

  .identifier
    color: #ff9c4e

  .extension
    color: #ffca14

.results
  position: relative
  background: #f5f5f5
  height: 400px
  overflow-x: hidden
  overflow-y: scroll
  width: 100%
  margin:
    left: auto
    right: auto
  padding:
    top: 10px
    left: 10px
    right: 10px
    bottom: 10px
  border: 1px solid #cecece

  .request, .response
    border: none

  .request
    padding:
      top: 3px
      left: 3px
    .verb
      font-weight: bold
      color: #008080

  .remove
    position: absolute
    top: 10px
    right: 10px
    text-decoration: none
    color: #000
    font-size: 0.9em

.repositories
  padding-top: 10px

  li
    list-style: none

  .repo
    position: relative
    min-height: 66px
    padding-left: 35px
    padding-bottom: 20px
    margin: 0 0 20px
    overflow: hidden
    font-size: 1.2em
    line-height: 1.6em
    border-bottom: 1px solid #eee

    .meta
      font-size: 0.8em
      padding:
        bottom: 1em

    .body
      .updated-at
        margin: 0
        font-size: 0.9em
        color: #999999

    ul.contributors
      list-style: none
      li
        display: inline-block
        padding-right: 5px
        float: right

.homepage
  .tagline
    font-size: 45px

  .hero-unit
    padding-bottom: 0px

ul.pages
  list-style: none

  .page
    h3
      font-size: 1.0em 

      &.placeholder a
        color: #8a8a8a
      &.draft a
        color: #ff4756
      &.alpha a
        color: #ff7e47
      &.beta a
        color: #ff7e47
      &.final a
        color: #3ec821

    ul.meta
      list-style: none
      font-size: 0.8em

