---
layout: default
title: Document Status
---

<h1>Document Status</h1>

<ul class="pages">
  {% for page in site.pages %}
    {% if page.status == nil %}
      {% assign status = 'unknown' %}
    {% else %}
      {% assign status = page.status %}
    {% endif %}

    <li class="page {{ status }}">
      <h3 class="title {{ status }}"><a href="{{ page.url }}">{{ page.title }}</a></h3>

      <ul class="meta">
        <li><em>Status:</em> {{ status }}</li>
        <li><em>Layout: </em> {{ page.layout }}</li>
        {% if page.audience %}<li><em>Audience: </em> {{ page.audience }}</li>{% endif %}
        <li><em>Path:</em> <code>{{ page.path }}</code></li>
        {% if page.comment %}<li><em>Comment: </em> {{ page.comment }}</li>{% endif %}
      </ul>

      <div class="excerpt">
        {{ page.excerpt }}
      </div>
    </li>
  {% endfor %}
</ul>
