---
layout: default
title: Socrata Developers
bodyclass: homepage
redirect_from:
- /deprecated/
- /deprecated/accessing-view-metadata
- /deprecated/retrieving-row-data
- /console
- /gallery
custom_js:
- /js/homepage.js
---

<div class="fat-header hidden-sm hidden-xs">
  <a href="http://snuffleupadata.com" target="_blank"><img src="/img/snuffleupacan.png" alt="snuffleupadata" class="pull-left" /></a>
  <h1 class="hello-dolly"><noscript>puts “Hello Data!”;</noscript></h1>
</div>

<div class="build-something">
  <h1 class="tagline">Build something awesome with Open Data!</h1>
  <p>The Socrata Open Data API allows you to programatically access a wealth of open data resources from governments, non-profits, and NGOs around the world. Click the link below and try a live example right now.</p>

  {% include tryit.html domain='data.ct.gov' path='/resource/y6p2-px98.json' args="category=Fruit&item=Peaches" %}

  <div class="row trailhead">
    <div class="col-md-4">
      <ul class="fa-ul"><li><h2><a href="/consumers/getting-started.html"><i class="fa fa-li fa-cogs"></i>App Developers</a></h2></li></ul>
      <p>Looking to use open data as part of your application or your business? Learn how to <a href="/consumers/getting-started.html">get started</a>.</p>
    </div>
    <div class="col-md-4">
      <ul class="fa-ul"><li><h2><a href="/libraries/"><i class="fa fa-li fa-mobile-phone"></i>Libraries &amp; SDKs</a></h2></li></ul>
      <p>Support for most popular programming languages and platforms.</p>
    </div>
    <div class="col-md-4">
      <ul class="fa-ul"><li><h2><a href="/support.html"><i class="fa fa-li fa-table"></i>Need Data?</a></h2></li></ul>
      <p>Looking for data? Search on the <a href="http://www.opendatanetwork.com">Open Data Network</a>!</p>
    </div>
  </div>

  <div class="row publishers">
    <div class="col-xs-2 text-center hidden-xs">
      <i class="fa fa-cloud-upload fa-4x"></i>
    </div>
    <div class="col-xs-10">
      <h2>Data Publishers</h2>

      <p>Are you a Socrata customer or data publisher? Want to learn more about how to automate the maintenance of your open data? Check out our <a href="/publishers/">data publishing guide &raquo;</a></p>
    </div>
  </div>

  <div class="row trailhead yet-more">
    <div class="col-md-4">
      <h3><a href="/changelog/"><i class="fa fa-fw fa-code-fork"></i>Changelog</a></h3>
      <p>Track the latest updates to our APIs and learn about upcoming changes.</p>
      <dl>
        {% for change in site.categories.changelog limit:3 %}
          <dt><a href="{{change.url}}"><i class="fa fa-fw fa-code-fork"></i> {{ change.title }}</a></dt>
          <dd><em>{% if change.author contains ' ' %}{{change.author}}{% else %}<a href="https://github.com/{{change.author}}">{{change.author}}</a>{% endif %} on {{ change.date | date_to_string }}</em></dd>
        {% endfor %}
      </dl>
      <p><a href="/changelog/">More...</a></p>
    </div>

    <div class="col-md-4">
      <h3><a href="/blog/"><i class="fa fa-fw fa-rss-square"></i>Developer Blog</a></h3>
      <p>Tips &amp; tricks, updates about events &amp; hackathons, and interesting projects from the community.</p>
      <dl>
        {% for post in site.categories.blog limit:3 %}
          <dt><a href="{{post.url}}"><a href="{{post.url}}"><i class="fa fa-fw {{ post.icon | default: "fa-rss" }}"></i> {{ post.title }}</a></dt>
          <dd><em>{% if post.author contains ' ' %}{{post.author}}{% else %}<a href="https://github.com/{{post.author}}">{{post.author}}</a>{% endif %} on {{ post.date | date_to_string }}</em></dd>
        {% endfor %}
      </dl>
      <p><a href="/blog/">More...</a></p>
    </div>

    <div class="col-md-4">
      <h3><a href="/blog/"><i class="fa fa-fw fa-question-circle"></i>Support Resources</a></h3>
      <p>We're here to help! Check out the resources below for answers.</p>

      <dl>
        <dt><a href="https://stackoverflow.com/search?tab=newest&q=soda%20OR%20socrata"><i class="fa fa-fw fa-stack-overflow"></i> Stack Overflow</a><dt>
        <dd>We follow the <code>soda</code> and <code>socrata</code> tags on Stack Overflow.</dd>

        <dt><a href="/irc.html"><i class="fa fa-fw fa-slack"></i> IRC Chat</a><dt>
        <dd>Come chat with the Socrata team and ask questions</dd>

        <dt><a href="https://github.com/socrata"><i class="fa fa-fw fa-github"></i> GitHub</a><dt>
        <dd>Socrata <i class="fa fa-heart"></i>'s Open Source!</dd>

        <dt><a href="https://github.com/socrata/discuss/issues"><i class="fa fa-fw fa-bug"></i> Issue Tracker</a><dt>
        <dd>Raise and discuss issues with the Socrata API, datasets, or data itself</dd>

        <dt><a href="/calendar.html"><i class="fa fa-fw fa-calendar"></i> Event Calendar</a></dt>
        <dd>Where you can find our team in the coming weeks</dd>
      </dl>
    </div>
  </div>
</div>
