---
layout: default
title: Socrata Developers
bodyclass: homepage
comment: This just needs a few content tweaks and it's probably good to go.
redirect_from:
  - /deprecated/
  - /deprecated/accessing-view-metadata
  - /deprecated/retrieving-row-data
  - /console
  - /gallery
custom_js:
  - /js/homepage.js
---

<div class="fat-header hidden-sm hidden-xs">
  <img src="/img/soda.png" alt="Socrata APIs" class="pull-left" />
  <h1 class="hello-dolly"><noscript>puts “Hello Data!”;</noscript></h1>
</div>

<div class="build-something">
  <h1 class="tagline">Build something awesome with Open Data!</h1>
  <p>The Socrata Open Data API allows you to programatically access a wealth of open data resources from governments, non-profits, and NGOs around the world. Click the link below and try a live example right now.</p>

  {% include tryit.html domain='data.ct.gov' path='/resource/hma6-9xbg.json' args="category=Fruit&item=Peaches" %}

  <div class="row trailhead">
    <div class="col-md-4">
      <ul class="fa-ul"><li><h2><a href="/consumers/getting-started.html"><i class="fa fa-li fa-cogs"></i>App Developers</a></h2></li></ul>
      <p>Looking to use open data as part of your application or your business? Learn how to <a href="/consumers/getting-started.html">get started</a>.</p>
    </div>
    <div class="col-md-4">
      <ul class="fa-ul"><li><h2><a href="/libraries/"><i class="fa fa-li fa-mobile-phone"></i>Libraries &amp; SDKs</a></h2></li></ul>
      <p>Support for most popular programming languages and platforms.</p>
    </div>
    <div class="col-md-4">
      <ul class="fa-ul"><li><h2><a href="/support.html"><i class="fa fa-li fa-question-circle"></i>Need Help?</a></h2></li></ul>
      <p>Struggling with a problem you can't figure out? <a href="/support.html">Get help fast!</a></p>
    </div>
  </div>

  <div class="row publishers">
    <div class="col-xs-2 text-center">
      <i class="fa fa-cloud-upload fa-4x"></i>
    </div>
    <div class="col-xs-10">
      <h2>Data Publishers</h2>

      <p>Are you a Socrata customer or data publisher? Want to learn more about how to automate the maintenance of your open data? Check out our <a href="/publishers/">data publishing guide &raquo;</a></p>
    </div>
  </div>

  <div class="row trailhead yet-more">
    <div class="col-md-4">
      <ul class="fa-ul"><li><h3><a href="/changelog/"><i class="fa fa-li fa-code-fork"></i>Changelog</a></h3></li></ul>
      <p>Track the latest updates to our APIs and learn about upcoming changes.</p>
      <ul>
        {% for change in site.categories.changelog limit:3 %}
          <li><em>{{ change.date | date: "%Y-%m-%d" }}</em> - <a href="{{change.url}}">{{ change.short_title }}</a></li>
        {% endfor %}
      </ul>
      <p><a href="/changelog/">More...</a></p>
    </div>
    <div class="col-md-4">
      <ul class="fa-ul"><li><h3><a href="/contributing.html"><i class="fa fa-li fa-group"></i>Contributing</a></h3></li></ul>
      <p>Learn how to contribute to the community and share your work.</p>
    </div>
    <div class="col-md-4">
      <ul class="fa-ul"><li><h3><a href="/calendar.html"><i class="fa fa-li fa-calendar"></i>Event Calendar</a></h3></li></ul>
      <p>Subscribe to a public calendar of upcoming Socrata developer events.</p>
    </div>
  </div>
