---
layout: default
title: Libraries &amp; SDKs
audience: libraries
---

<h1>Libraries & SDKs</h1>

<p>To help you get started, we've provided helpful libraries for a number of different languages:</p>

<h2>Official Client Libraries</h2>

<p>These libraries and SDKs have been developed by Socrata and are fully supported by our team.</p>

<ul class="repositories">
  {% for sdk in site.pages %}
    {% if sdk.type == 'sdk' and sdk.official %}
      {% include sdk.html sdk=sdk %}
    {% endif %}
  {% endfor %}
</ul>

<h2>Community Libraries</h2>

<p>These libraries and SDKs have been developed by our developer community and, although we may be able to help with them, you should reach out to the library owner for support.</p>

<ul class="repositories">
  {% for sdk in site.pages %}
    {% if sdk.type == 'sdk' and sdk.official == false %}
      {% include sdk.html sdk=sdk %}
    {% endif %}
  {% endfor %}
</ul>
