{% case include.type %}
{% when 'consumer' %}
  <li class="nav-header">Getting Started</li>
  <li><a href="/consumers/getting-started/">Getting Started</a></li>
  <li><a href="/consumers/authentication/">Authentication</a></li>
  <li><a href="/throttling/">App Tokens &amp; Throttling</a></li>
  <li><a href="/docs/endpoints.html">RESTful Endpoints</a></li>
  <li><a href="/consumers/cookbooks/">Cookbooks</a></li>

  <li class="nav-header">Examples</li>
  {% for page in site.pages %}
    {% if page.type == 'example' and page.audience == 'consumer' %}
      <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endif %}
  {% endfor %}

  <li class="nav-header">SDKs &amp; Libraries</li>
  {% for page in site.pages %}
    {% if page.type == 'sdk' and (page.audience == 'consumer' or page.audience == 'all') %}
      <li><a href="{{ page.external_url }}">{{ page.title }} &raquo;</a></li>
    {% endif %}
  {% endfor %}

{% when 'publisher' %}
  <li class="nav-header">Getting Started</li>
  <li><a href="/publishers/getting-started/">Getting Started</a></li>
  <li><a href="/authentication/">Authentication</a></li>
  <li><a href="/throttling/">App Tokens &amp; Throttling</a></li>

  <li class="nav-header">Examples</li>
  {% for page in site.pages %}
    {% if page.type == 'example' and page.audience == 'publisher' %}
      <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endif %}
  {% endfor %}
  
  <li class="nav-header">Off-the-Shelf Integrations</li>
  {% for page in site.pages %}
    {% if page.type == 'integration' %}
      <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endif %}
  {% endfor %}
  
  <li class="nav-header">SDKs &amp; Libraries</li>
  {% for page in site.pages %}
    {% if page.type == 'sdk' and (page.audience == 'publisher' or page.audience == 'all') %}
      <li><a href="{{ page.external_url }}">{{ page.title }} &raquo;</a></li>
    {% endif %}
  {% endfor %}

{% when 'documentation' %}
  <li class="nav-header">Overview</li>
  <li><a href="/docs/endpoints.html">API Endpoints</a></li>
  <li><a href="/docs/formats/index.html">Output Formats</a></li>
  <li><a href="/docs/verbs.html">RESTful Verbs</a></li>
  <li><a href="/docs/filtering.html">Filtering Datasets</a></li>
  <li><a href="/docs/queries.html">SoQL Queries</a></li>
  <li><a href="/docs/paging.html">Paging Through Data</a></li>
  <li><a href="/docs/app-tokens.html">Application Tokens</a></li>
  <li><a href="/docs/authentication.html">Authentication</a></li>
  <li><a href="/docs/throttling.html">Request Throttling</a></li>

  <li class="nav-header">Data Formats</li>
  <li><a href="/docs/formats/json.html">JSON</a></li>
  <li><a href="/docs/formats/csv.html">CSV</a></li>
  <li><a href="/docs/formats/rdf-xml.html">RDF-XML</a></li>

  <li class="nav-header">Datatypes</li>
  <li><a href="/docs/datatypes/string.html">String</a></li>
  <li><a href="/docs/datatypes/numeric.html">Numeric</a></li>
  <li><a href="/docs/datatypes/boolean.html">Boolean</a></li>
  <li><a href="/docs/datatypes/floating-timestamp.html">Floating Timestamp</a></li>
  <li><a href="/docs/datatypes/fixed-timestamp.html">Fixed Timestamp</a></li>
  <li><a href="/docs/datatypes/location.html">Location</a></li>

{% else %}
  <li>Please pass a "type" variable</li>
{% endcase %}
