{% capture full_url %}https://{{ include.domain }}{{ include.path }}?{{ include.args }}{% endcapture %}
<code class="tryit-link">
  <i class="fa fa-cog"><!-- This Space Left Blank --></i>
  <a class="exec has-tooltip" data-toggle="tooltip" title="" href="{{ full_url }}" data-original-title="View the output of this query">{{ full_url }}</a>
  <a class="hurl-it has-tooltip" data-toggle="tooltip" title="" target="_blank" href="http://hurl.it" data-original-title="Edit this request on Hurl.it" data-hurl-full-url="{{ full_url }}"><i class="fa fa-pencil"><!-- This Space Left Blank --></i></a>
</code>
